<nav class="navbar bg-light">
    <!-- <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div> -->

    <div class="container d-flex">
        <img style="height: 80px;" src="/images/logo.png" alt="">
        <a class="text-decoration-none fs-4" href="/">
            Show Gallery
        </a>

        <a href="/add">
            <img style="height: 80px;" src="/images/addIcon.png" alt="">
        </a>
    </div>
  </nav>  